header {
    background-color: #051865;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    color: white;
    z-index: 100;
}

.logo img {
    max-height: 42.5px;
    margin-left: 5px;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    width: auto;
}

.logo a {
    max-width: 100%;
    height: auto;
}

nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
    padding: 0;
}

.search-container {
    position: relative;
    padding-left: 15px;
}

.search-container input {
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    border: none;
}

.search-container img {
    position: absolute;
    top: 8px;
    left: 26.5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon {
    height: 26px;
    transition: filter 0.15s ease-in-out;
}

.icon.menu {
    padding-right: 60px;
}

.icon.profile {
    padding-right: 10px;
}

.icon.profile.pic {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    padding-right: 0px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
    filter: brightness(80%);
}