header {
    background-color: #051865;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    color: white;
    z-index: 100;
}

.logo img {
    max-height: 42.5px;
    margin-left: 5px;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    width: auto;
}

.logo a {
    max-width: 100%;
    height: auto;
}

.side-menu, .main-menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
    padding: 0;
}

.search-container {
    position: relative;
    padding-left: 15px;
}

.search-container input {
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    border: none;
}

.search-container img {
    position: absolute;
    top: 8px;
    left: 26.5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon {
    height: 26px;
    transition: filter 0.15s ease-in-out;
}

.icon.menu {
    padding-right: 60px;
}

.icon.profile {
    padding-right: 10px;
}

.icon.profile.pic {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    padding-right: 0px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 65px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}


.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
}

#logout-text {
    font-weight: bold;
    color: #051865;
}


@media screen and (max-width: 1400px) { /*1250/1400 */
    .main-menu {
        display: none;
    }
}

@media screen and (max-width: 920px) { /*600/920 */
    .search-container {
        display: none;
    }

    .main-menu {
        display: none;
    }

    .side-menu {
        justify-content: space-evenly;
        align-items: center;
    }
    .side-menu ul{
        margin-left: auto;
    }
}