* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial';
    background-color: #e1e4eb;
}

main {
    position: fixed;
    top: 65px;
    left: 0;
    display: flex;
    flex-direction: row;
}


.side-notifications {
    max-width: 22%;
    padding: 15px;
    background-color: #e1e4eb;
    overflow-y: scroll;
    max-height: 90vh
}

.brday-profile {
    height: 40px;
    width: 40px;
}

.post-user-img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.post-img {
    height: 50%;
    width: 100%;
}

.post {
    padding: 15px;
    margin: 0 15px 20px 15px;
    border-radius: 15px;
    background-color: white;
}

.post-img {
    border-radius: 10px;
}

.posts {
    overflow-y: scroll;
    max-width: 55%;
    max-height: 90vh;
    margin: 15px 5px 0px 5px;
}

.post-date, .comment-date, .post-user-name, .comment-user-name {
    display: inline-block;
    width: 100%;
}

.post-details, .comment-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post-details-info, .comment-details-info {
    margin-left: 10px;
}

.post a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.post {
    color: black;
}

.post-interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.interaction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.interaction span {
    margin-left: 8px;
}

.like-button {
    margin-bottom: 5px;
}

.post-top-separator {
    margin-top: 15px;
}

.post-bottom-separator {
    margin-top: 15px;
    margin-bottom: 10px;
}

.like-button, .comment-button, .share-button {
    height: 25px;
    width: 25px;
}

.comment {
    margin-top: 15px;
    background-color: #F5F5F5;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    padding: 10px;
}

.comment-description {
    margin: 15px 0 0 0;
}

.comment-user-img {
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.post-comments-expand {
    margin-top: 13px;
    display: inline-block;
    cursor: pointer;
    color: #051865;
}

.label-container {
    color: #051865;
    background-color: white;
    margin: 4px 0 0 0;
    display: block;
    font-weight: bold;
    box-shadow: 2px 2px 8px rgba(0,0,0,.05);
    margin-bottom: 10px;
    padding: 12.5px;
}

.birthday-container {
    padding: 5px;
    font-size: .8em;
    margin-bottom: 15px;
}

.brday-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.brday-profile {
    border-radius: 10px;
    margin-right: 10px;
    float: left;
}

.brday-name {
    display: inline-block;
    margin-bottom: 3px;
    width: 100%;
}

.brday-date, .news-title {
    font-weight: bold;
}

.brday-label {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 4px 0 8px 2px;
}

.brday-label-icon {
    height: 15px;
    width: 15px;
}

.news-container {
    margin-bottom: 30px;
}

.news-img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    flex-shrink: 0;
    margin: 0 10px 0 3px;
}

.news-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
}

.news-item a {
    text-decoration: none;
    color: black;
}

.news-title:hover {
    text-decoration: underline;
}

.news-description {
    margin: 5px 0 0 0;
    font-size: .7em;
}

.ad-img {
    height: 300px;
    width: 360px;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}

.ad-container{
    width: 400px;
    margin: 0 15px;
}

.friends-table {
    width: 100%;
}

.friends-table img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .ad-container{
        display: none;
    }
    .side-notifications{
        max-width: 34%;
        min-width: 270px;
    }
    .posts{
        max-width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .ad-container{
        display: none;
    }
    .side-notifications{
        display: none;
    }
    .posts{
        max-width: 100%;
    }
}