* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

header {
    background-color: #051865;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    color: white;
}

.logo img {
    max-height: 42.5px;
    margin-left: 5px;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    width: auto;
}

.logo a {
    max-width: 100%;
    height: auto;
}

nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
    padding: 0;
}

main {
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: row;
}

.search-container {
    position: relative;
    padding-left: 15px;
}

.search-container input {
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    border: none;
}

.search-container img {
    position: absolute;
    top: 8px;
    left: 26.5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.side-notifications {
    padding: 15px;
    background-color: #F5F5F5;
}

.icon {
    height: 35px;
}

.icon:hover {
    cursor: pointer;
}