@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial';
    font-size: .85em;
    background: linear-gradient(90deg, rgb(235, 235, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 235, 235, 1) 100%);
}