#myButton {
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #051865;
    width: 220px;
    margin-top: 7px;
}

#myButton:hover {
    background-color: #041147;
}

#introduction-label{
    width: 100%;
    height: 250px;
}

.profile-separator {
    margin-top: 10px;;
}
.profile-info {
    margin-bottom: 10px;
}

#introButton {
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #f75d5d;
    width: 220px;
    margin-top: 10px;
}

#introButton:hover {
    background-color: #fc2a2a;
}

.pfp-containter{
    width: 240px;
}

#otherBtn,#up-pass-btn{
    width: 300px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #051865;
    margin-top: 7px;
}
#otherBtn:hover,#up-pass-btn:hover {
    background-color: #041147;
}
#up-pass-btn{
    width: 100%;
}

#pass-info{
    margin-top: 0;
}

#deluser {
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: red;
    width: 220px;
    margin-top: 7px;
}